div.wrap
{
  margin-left: 5px;
}
div.quote
{
  writing-mode: vertical-rl;
  height: 15em;
  font-size: 24px;
  font-family: 'Helvetica Neue', Tahoma, 'PingFang SC', 'Microsoft Yahei', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,.7);
  background-image: url(back.jpg);
  width: 350px;
  max-width: 350px;
  position: relative;
  box-shadow: 3px 3px 3px rgba(0,0,0,.9);
}
div.quote
{
  border-width: 10px;
  border-image: url(bg.jpg) 60 stretch;
  border-image-width: 10px;
  padding: 24px;
}
div.quote.chrome
{
  border: 30px solid transparent;
  border-image: url(bg.jpg) 120 120 120 120 stretch stretch;
}
div.dest
{
  margin-left: 40px;
}
div.source
{
  position: absolute;
  font-size: 16px;
  left: 20px;
  bottom: 20px;
  text-align: right;
  visibility: hidden;
}
div.source:before
{
  content: "『";
}
div.source:after
{
  content: "』";
}
.hl
{
  position: relative;
}
.hl:after
{
  position: absolute;
  content: "";
  display: block;
  width: .1em;
  top: -1px;
  left: .15em;
  bottom: -1px;
  background-color: red;
  box-shadow: 1px 1px 1px rgba(0,0,0,.8);
}
b
{
  font-weight: normal; 
  display: inline-block;
  visibility: hidden;
  margin-left: 4px;
  margin-top: 1px;
  margin-bottom: 1px;
}
span
{
  position: relative;
  display: inline-block;
  visibility: hidden;
}
span:after
{
  position: absolute;
  display: block;
  font-size: .6em;
  left: 0.1em;
  top: -.7em;
}
span.stop:after
{
  content: "。";
}
span.comma:after
{
  content: "，";
}
p
{
  margin: 10px;
  margin-bottom: 20px;
}
button
{
  padding: 10px 20px;
  border-radius: 5px;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #BED630), color-stop(1, #0DB04B) );
  border-color: #B8D4E8 #114680 #114680 #B8D4E8;
  border-style: solid;
  border-width: 1px;
  color: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 5px;
}
textarea
{
  margin: 5px;
  margin-top: 20px;
  width: 400px;
  height: 100px;
  font-size: 1em;
}
.show
{
  visibility: visible !important;
}
canvas
{
  display: block;
  margin-top: 10px;
}

