.sep {
  border-top: 1px dotted black;
  position: relative;
}
.sep:before {
  position: absolute;
  background-color: #e1f5fe;
  left: 30%;
  top: -12px;
  padding: 2px 5px;;
}
.hide {
  color: blue;
  cursor: pointer;
}
.sep.self:before {
  content: "本卦";
}
.sep.other:before {
  content: "变卦";
}
.nobreak {
  width: 2em;
}
.hexagram {
  border-spacing: 5px;
  border-collapse: separate;
  font-size: 16px;
}
.change {
  text-align: center;
}
.names {
  text-align: center;
  position: relative;
}
.prefix {
  position: relative;
  width: 2em;
  display: inline-block;
}
.wuxing {
  position: absolute;
  font-size: smaller;
  margin-left: 5px;
  border: 1px dotted black;
  border-radius: 10px;
  top: 5px;
  width: 19px;
}
.mark {
  width: 22px;
  margin-left: 15px;
  margin-right: 20px;
  text-align: center;
  display: inline-block;
}
.mark.on {
  border: 1px dotted black;
}
.name {
  font-weight: bold;
  font-size: 30px;
}
.gram {
  width: 140px;
  height: 20px;
  text-align: center;
}
.gram span:nth-child(2) {
  display: inline-block;
  width: 40px;
}
.gram.up {
  background-color: red;
}
.gram.down {
  background-color: black;
  position: relative;
  color: white;
}
.gram.down:before {
  position: absolute;
  content: "";
  width: 24px;
  left: 60px;
  top: 0;
  bottom: 0;
  background-color: white;
}
.bible td {
  font-size: smaller;
  vertical-align: top;
}
.grid tr:first-child {
  background-color: #e1f5fe !important;
}
.grid tr:nth-child(odd) {
  background-color: #eee;
}
.grid th, .grid td {
  text-align: left;
  border: 1px solid black;
}
.grid {
  border-spacing: 1px;
  border-collapse: collapse;
}
.prepend {
  position: relative;
}
.prepend:before {
  font-weight: bold;
  display: inline-block;
  margin-right: 5px;
  background-color: #accff2;
}
.diagram:before {
  content: "卦象";
}
.title:before:not(.row) {
  content: "卦辞";
}
.tuan:before {
  content: "彖辞";
}
.xiang:before:not(.row) {
  content: "象辞";
}
